.foot1{
    background-color:#8282fc;
    height:600px;
    align-items:center;
    color:black;
}

.contacts{
    color:rgb(255, 255, 255);
    margin-top:0;
    padding-top:50px;
    text-align:center;
    font-family:Montserrat;
    font-size:.8cm;
    font-weight:400;
    padding-left:10px;
}

.clg1{
    color:black;
    font-family:montserrat;
    font-size:1cm;
    font-weight:300;
    margin-top:90px;
    margin-left:100px;
}

.kar{
    font-family:montserrat;
    color:black;
    font-size:.65cm;
    font-weight:400;
    margin-left:50px;
    margin-top:-30px;
    
}
.add{
    font-family:montserrat;
    color:black;
    font-size:.5cm;
    font-weight:400;
    margin-left:50px;
    margin-top:-6px;
}

.ids{
    color:black;
    font-family:Montserrat;
    font-size:.45cm;
    font-weight:400;
    margin-left:50px;
    margin-top:0px;
   
}
.mob,.mail{
    font-weight:400;
}

.ul3{
    gap:30px;
    list-style:none;
    margin-top:80px;
}

.a{
    height:60px;
    position: absolute;
}

.a1{
    /* Instagram */
    height:64px;
    width:64px;
    margin-left:-210px;
}

.a2{
    /* Mail */
    fill:rgb(0, 0, 0);
    margin-left:190px;
    height:60px;
    position:absolute;
    margin-top:5px;
}

.a3{
    /* FaceBook */
    margin-left:-80px;
}
.a4{
    /* X */
    left:720px;
}

.a1:hover{
    height:67px;
    width:67px;
}
.a3:hover,.a4:hover{
    height:64px;
    width:64px;
}

.a2:hover{
    height:64px;
    width:64px;
}




