body{
    margin:0;
    padding:0;
}

.container{
    height:300px;
    width:450px;
    background-color:orange;
}

.header{
    padding-top:30px;
    font-family:courier prime;
    font-size:.8cm;
}

.ultag{
    list-style: none;
}

.btn11,.btn12,.btn13{
    background-color:orange;
    border:2px solid black;
    font-size:.5cm;
}

.qli{
    margin-bottom:20px;
}

svg{
    margin-top:10px;
}