body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.main1{
    margin-top:-20;
    height:570px;
    background-color:rgb(130, 130, 252);
}

.img1{
    margin-top:-90px;
    margin-left:-140px;
    width:303px;
    height:350px;
    position:absolute;
    z-index:0;
    
    filter:opacity(30%);
}

.con{
    width:100%;
    padding-top:270px;
    z-index: 3;
}



.eng{
    margin-top:0px;
    padding-top:-40px;
    padding-left:45px;
    font-size:1.4cm;
    margin-left:-600px;
    font-family:chakra petch;

}
.clg{
    margin-top:-5px; 
    padding-top:0px;
    font-family:Montserrat;
    font-size:1.3cm;
    margin-left:-90px;
}

.ban{
    margin-top:0px;
    margin-left:-850px;   
    padding-top:-10px;
    font-family:Montserrat;
    font-size:.6cm;
    font-weight:400;  
}
.con2{
    margin-top:50px;
    height:630px;
    background-color:rgb(255, 255, 255);
}

.wel{
    margin-top:0;
    padding-top:50px;
    text-align:center;
    font-family:Montserrat;
    font-size:.8cm;
    font-weight:400;
    padding-left:180px;
}

.incon{
    position: absolute;
    left:50%;
    margin-left:-250px;
}

.movb{
    position: absolute;
    left:40%;
    margin-left:-200px;
    margin-top:30px;
    height:360px;
    width:660px;
    background-color:rgb(130, 130, 252);
    border:0px solid white;
    
    border-radius:13px;
}

.head{
    color:rgb(255, 255, 255);
    font-family:amatic sc;
    font-size:1.2cm;
    margin-left:20px;
    font-weight:900;
}

.mp{
    color:rgb(255, 255, 255);
    font-family:Ysabeau sc;
    font-size:.56cm;
    padding:3px 20px;
    margin-left:10px;
    font-weight:500;
}

.events{
        height:700px;
        background-color:rgb(130, 130, 252);

}

.eve{
    margin-top:0;
    padding-top:50px;
    text-align:center;
    font-family:Montserrat;
    font-size:.8cm;
    font-weight:300;
    padding-left:0px;
    color:rgb(255, 255, 255);
    
}

.e1,.e2{
    position: absolute;
    left:50%;
    height:500px;
    width:540px;
    border:2px solid rgb(130, 130, 252);
    border-radius:20px;
    background-color:white
}

.e1{
    margin-left:-580px;    
}
.e2{
    margin-left:40px;
}

.eimg1,.eimg2{
    position: absolute;
    left:50%;
    margin-left:-235px;
    margin-top:30px;
    height:250px;
    width:470px;
    background-color:rgb(255, 254, 254);
    border-radius:20px;;
    border:3px solid #8282fc;
}

.eh{
    margin-top:310px;
    font-family:caveat;
    font-size:.78cm;
    color:rgb(0, 0, 0);
}












.ano{
    height:650px;
    background-color:rgb(255, 255, 255);
    align-items:center;
}

.ano_name{
    margin-top:0;
    padding-top:50px;
    text-align:center;
    font-family:Montserrat;
    font-size:.8cm;
    font-weight:300;
    padding-left:0px;
    color:rgb(0, 0, 0);
}

.bothoff{
    display:flex;
}
.co_col{
    /* background-color:pink; */
    width:250px;
    position: absolute;
    margin-left:50%;
    left:-435px;
    height:300px;
    width:300px;
    margin-top:30px;
}

.co_img{
    background-color:yellow;
    margin-left:-130px;
    height:300px;
    width:250px;
    margin-top:-30px;
    border:10px solid rgb(130, 130, 252);
    border-radius:80px;
}

.co_name{
    padding-top:230px;
    margin-top:95px;
    text-align:center;
    font-family:Montserrat;
    font-size:.8cm;
    font-weight:300;
    padding-left:0px;
    color:rgb(0, 0, 0);
    width:580px;
    margin-left:-130px;
}
.co_rank{
    margin-top:-30px;
    text-align:center;
    font-family:Montserrat;
    font-size:.5cm;
    font-weight:300;
    padding-left:0px;
    color:rgb(0, 0, 0);
}

.hr1{
    position:absolute;
    margin-left:50%;
    width:.01px;
    height:300px;
}


.ano_col{
    position: absolute;
    margin-left:50%;
    left:180px;
    width:250px;
    height:300px;
    width:300px;
    margin-top:30px;
}

.ano_img{
    background-color:yellow;
    margin-left:-130px;
    height:300px;
    width:250px;
    margin-top:-30px;
    border:10px solid rgb(130, 130, 252);
    border-radius:80px; 
}

.ano_nam{
    padding-top:0px;
    margin-top:345px;
    text-align:center;
    font-family:Montserrat;
    font-size:.8cm;
    font-weight:300;
    padding-left:0px;
    color:rgb(0, 0, 0);
}
.ano_rank{
    margin-top:-30px;
    text-align:center;
    font-family:Montserrat;
    font-size:.5cm;
    font-weight:300;
    padding-left:0px;
    color:rgb(0, 0, 0);
}
