body{
    margin:0;
}

Nav{
    margin-top:-10px;
}

.faq_img{
    background: color #828282;
    width:1270px;
    height:600px;
    margin-left:-640px;
    margin-top:90px;
}
F1{
    margin-top:150px;
    background-color:rgb(255, 255, 255);
}

.d1{
    background: color #838383;
    height:750px;
}